.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: .5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}